<div
  class="p-6 md:py-12 md:px-24 lg:px-48 text-white justify-center md:bg-corner bg-no-repeat bg-left-bottom bg-opacity-2 bg-[auto_40%]"
>
  <h2 class="h4 md:h3 font-bold mb-6 text-red-650">{{ title | translate }}</h2>

  @for (section of data; track $index) {
    <section class="mb-6 md:mb-12 body-2">
      <h4 class="h5 font-semibold mb-4">{{ section.title | translate }}</h4>
      <div class="pl-6 md:pl-12">
        @for (item of section.content; track $index) {
          <p class="mb-4" [innerHTML]="item | translate"></p>
        }
      </div>
    </section>
  }
</div>
