<div
  class="fixed top-0 left-0 w-full p-6 flex justify-between items-center transition-colors duration-300 z-50 h-32"
  [ngClass]="{ 'bg-neutral-950/70': isScrolled() }"
>
  <div routerLink="/" class="cursor-pointer">
    <img src="images/logo.svg" alt="Logo" />
  </div>

  <!-- BUTTONS -->
  <div>
    @if (userLoggedIn()) {
      <button [matMenuTriggerFor]="menu" aria-label="Account Icon with Circle Background">
        <mat-icon class="!w-12 !h-12 !text-5xl text-white">account_circle</mat-icon>
      </button>
    } @else {
      <button routerLink="/login" mat-flat-button>
        {{ 'SIGN_IN' | translate }}
      </button>
      <button routerLink="/register" class="block max-md:!hidden ml-4" mat-stroked-button>
        {{ 'REGISTER' | translate }}
      </button>
    }
  </div>
</div>

<!-- ACOUNT MENU -->
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/account" aria-label="Acount Icon">
    <mat-icon class="!text-black">person</mat-icon>
    <span class="body-2 !text-black">{{ 'ACCOUNT' | translate }}</span>
  </button>
  <button mat-menu-item (click)="signOut()" aria-label="Log out Icon">
    <mat-icon class="!text-black">logout</mat-icon>
    <span class="body-2 !text-black">{{ 'LOG_OUT' | translate }}</span>
  </button>
</mat-menu>
