<h2 mat-dialog-title class="h3">Reset password</h2>
<mat-dialog-content class="body-2">
  @if (!emailSent()) {
    Would you like to receive an email to reset your password?
  } @else {
    Password reset email has been sent.
  }
</mat-dialog-content>
<mat-dialog-actions>
  @if (!emailSent()) {
    <button mat-flat-button (click)="resetPassword()">Yes</button>
    <button mat-stroked-button mat-dialog-close cdkFocusInitial>Cancel</button>
  } @else {
    <button mat-flat-button mat-dialog-close>Ok</button>
  }
</mat-dialog-actions>
