<swip-frame>
  <div class="w-full min-h-screen">
    <div class="overflow-hidden min-h-screen relative">
      @if (loading()) {
        <div class="min-h-screen flex justify-center items-center">
          <swip-loader></swip-loader>
        </div>
      } @else {
        @if (currentOffer$ | async; as jobData) {
          <swip-job-offer [jobData]="jobData" class="w-full h-1 flex-1"></swip-job-offer>
        } @else {
          <div class="min-h-screen flex flex-col justify-center items-center text-center">
            <h2 class="h4 md:h3 text-red-650">
              {{ 'ALL_OFFERS' | translate }}
            </h2>
            <h3 class="body-1 text-white">{{ 'COME_BACK' | translate }}</h3>
          </div>
        }
      }
    </div>
  </div>
</swip-frame>
