<!-- HERO -->
<div class="flex items-center flex-col">
  <div
    class="h-screen relative bg-cover flex items-center w-full"
    [ngClass]="!isMobile ? 'bg-home-desktop bg-center 2xl:bg-left-top' : 'bg-home-mobile'"
  >
    <!-- OVERLAYER -->
    @if (!isMobile) {
      <div class="block xl:hidden w-full h-full bg-black opacity-50 absolute z-0 top-0 left-0"></div>
    }

    <!-- CONTENT -->
    <div class="relative z-10 opacity-100 transition-all delay-200" [ngClass]="{ '!opacity-0': formExpanded() }">
      <ng-container>
        <div class="text-white pb-8 px-6 lg:px-32 w-full lg:w-3/4">
          <h1 class="h2 w-full sm:w-3/4 md:w-full">
            {{ 'HOMEPAGE_TITLE' | translate }}
          </h1>
          <p class="body-1 mt-4 w-full sm:w-2/3 lg:w-full">
            {{ 'HOMEPAGE_SUBTITLE' | translate }}
          </p>
          <div class="mt-10">
            @if (!isMobile) {
              <button (click)="installApp()" class="mr-4 my-2" mat-flat-button>
                {{ 'GET_APP' | translate }}
              </button>
              <button class="my-2" mat-stroked-button (click)="scrollToSection()">
                {{ 'DISCOVER_MORE' | translate }}
              </button>
            } @else {
              @if (isMobile) {
                <button (click)="toggleForm()" class="mr-4 my-2" mat-flat-button>
                  {{ 'SWIP' | translate }}
                </button>
              } @else {
                <button routerLink="register" class="mr-4 my-2" mat-flat-button>
                  {{ 'SWIP' | translate }}
                </button>
              }
            }
          </div>
        </div>
      </ng-container>
    </div>

    @if (isMobile) {
      <div
        class="w-full flex justify-end flex-col absolute z-20 bottom-0 transition-all h-30 duration-500 overflow-hidden"
        [ngClass]="{ '!h-1/2': formExpanded() && emailVerificationSent, '!h-17/20': formExpanded() }"
      >
        @if (formExpanded()) {
          <div
            class="flex justify-end px-6 opacity-0 -mb-12 relative z-20"
            [ngClass]="{ 'opacity-100': formExpanded() }"
          >
            <swip-icon
              (click)="toggleForm()"
              class="!text-white text-5xl !w-12 !h-12"
              [isButton]="true"
              [icon]="{ value: 'close' }"
            ></swip-icon>
          </div>
        }

        @if (isMobile) {
          <img class="w-full -mb-0.25" src="images/wave.svg" alt="Wave" />
        }

        <swip-register-form
          class="h-0 overflow-hidden block transition-all duration-500"
          [ngClass]="{ '!h-full': formExpanded() }"
        ></swip-register-form>
      </div>
    }
  </div>
  @if (isMobile) {
    <img src="/images/wave_2.svg" class="-mt-0.25" alt="Wave" />
  }
</div>

<!-- MORE -->
<div class="text-white px-6 md:px-12 xl:px-48 py-12 lg:pt-24 xl:pb-0">
  <div class="w-full flex-col lg:flex-row flex items-center justify-between pb-12 xl:pb-24">
    <div class="w-full xl:w-1/2">
      <h1 class="h2 text-red-650">
        {{ 'DREAM_JOB' | translate }}
      </h1>
      <p class="mt-6 body-1">
        {{ 'JOB_DESC' | translate }}
      </p>
      <button (click)="scrollToSection()" class="mt-16" mat-flat-button>{{ 'SEE_MORE' | translate }}</button>
    </div>
    <div class="mt-24 lg:mt-0 w-full xl:w-1/2 relative flex justify-center">
      <img class="w-3/4" src="/images/bloob.png" alt="Mobile Phone" />
      <img class="w-3/4 absolute top-0 xl:left-1/2 xl:-translate-x-1/2" src="/images/phone.gif" alt="Mobile Phone" />
    </div>
  </div>
</div>
<div class="bg-red-650 py-12" #about>
  <div class="text-white flex flex-wrap justify-center px-6 md:px-12 xl:px-20">
    @for (section of sections; track $index) {
      <ng-container *ngTemplateOutlet="sectionRef; context: { section: section, last: $last }"> </ng-container>
    }
  </div>
</div>
<div class="px-6 md:px-12 xl:px-32 flex justify-center mt-12 pb-16 bg-none xl:bg-corner bg-no-repeat bg-(length:20rem)">
  <div class="py-12 w-full xl:w-1/2 mx-auto">
    <h2 class="h2 text-red-650 flex items-center">{{ 'TAKE_CHARGE' | translate }}</h2>
    <p class="body-1 text-white mt-6">
      {{ 'WHAT_IS_SWIP' | translate }}
    </p>
    <button (click)="installApp()" class="mt-16 _contrast-flat" mat-flat-button>{{ 'GET_APP' | translate }}</button>
  </div>
</div>

<ng-template #sectionRef let-section="section" let-isLast="last">
  <div class="w-full md:w-full lg:w-1/3 flex flex-col" [ngClass]="{ 'mb-24 lg:mb-0 lg:mr-24 xl:mr-48': !isLast }">
    <div class="flex justify-center lg:justify-start items-center">
      <div class="text-6xl lg:text-8xl text-white font-extrabold">{{ section.index }}.</div>
      <h2 class="h3 lg:h4 mt-4 ml-4 lg:w-full xl:text-left">
        {{ section.titleCode | translate }}
      </h2>
    </div>
    <p class="block lg:hidden text-center mt-4 body-2 align-middle">
      {{ section.descriptionCode | translate }}
    </p>
    <div class="text-center mt-12">
      <img class="w-3/4 lg:w-full inline" [src]="'/images/' + section.image + '.gif'" alt="Image" />
    </div>
    <p class="hidden lg:block text-left mt-12 body-2 body-1 align-middle">
      <mat-icon class="align-middle">info</mat-icon>
      {{ section.descriptionCode | translate }}
    </p>
  </div>
</ng-template>
