<swip-topbar></swip-topbar>
<div class="text-white px-6 md:px-12 xl:px-48 py-12 lg:pt-24 xl:pb-0">
  <div class="w-full flex-col lg:flex-row flex items-center justify-between pb-12 xl:pb-24">
    <div class="w-full xl:w-1/2">
      <h1 class="h2 text-red-650">
        {{ 'DREAM_JOB' | translate }}
      </h1>
      <p class="mt-6 body-1">
        {{ 'JOB_DESC' | translate }}
      </p>
      <button (click)="scrollToSection()" class="mt-16" mat-flat-button>{{ 'SEE_MORE' | translate }}</button>
    </div>
    <div class="mt-24 lg:mt-0 w-full xl:w-1/2 relative flex justify-center">
      <img class="w-3/4" src="/images/bloob.png" alt="Mobile Phone" />
      <img class="w-3/4 absolute top-0 xl:left-1/2 xl:-translate-x-1/2" src="/images/phone.gif" alt="Mobile Phone" />
    </div>
  </div>
</div>
<div class="bg-red-650 py-12" #about>
  <div class="text-white flex flex-wrap justify-center px-6 md:px-12 xl:px-20">
    @for (section of sections; track $index) {
      <ng-container *ngTemplateOutlet="sectionRef; context: { section: section, last: $last }"> </ng-container>
    }
  </div>
</div>
<div class="px-6 md:px-12 xl:px-32 flex justify-center mt-12 pb-16 bg-none xl:bg-corner bg-no-repeat bg-(length:20rem)">
  <div class="py-12 w-full xl:w-1/2 mx-auto">
    <h2 class="h2 text-red-650 flex items-center">{{ 'TAKE_CHARGE' | translate }}</h2>
    <p class="body-1 text-white mt-6">
      {{ 'WHAT_IS_SWIP' | translate }}
    </p>
    <button (click)="installApp()" class="mt-16 _contrast-flat" mat-flat-button>{{ 'GET_APP' | translate }}</button>
  </div>
</div>

<ng-template #sectionRef let-section="section" let-isLast="last">
  <div class="w-full md:w-full lg:w-1/3 flex flex-col" [ngClass]="{ 'mb-24 lg:mb-0 lg:mr-24 xl:mr-48': !isLast }">
    <div class="flex justify-center lg:justify-start items-center">
      <div class="text-6xl lg:text-8xl text-white font-extrabold">{{ section.index }}.</div>
      <h2 class="h3 lg:h4 mt-4 ml-4 lg:w-full xl:text-left">
        {{ section.titleCode | translate }}
      </h2>
    </div>
    <p class="block lg:hidden text-center mt-4 body-2 align-middle">
      <mat-icon class="align-middle">info</mat-icon>
      {{ section.descriptionCode | translate }}
    </p>
    <div class="text-center mt-12">
      <img class="w-3/4 lg:w-full inline" [src]="'/images/' + section.image + '.gif'" alt="Image" />
    </div>
    <p class="hidden lg:block text-left mt-12 body-2 body-1 align-middle">
      <mat-icon class="align-middle">info</mat-icon>
      {{ section.descriptionCode | translate }}
    </p>
  </div>
</ng-template>
