<div [formGroup]="form">
  <!-- FIRST NAME -->
  <mat-form-field class="w-full mt-6">
    <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
    <input type="text" matInput [placeholder]="'EXAMPLE_FIRST_NAME' | translate" formControlName="firstName" />
  </mat-form-field>

  <!-- LAST NAME -->
  <mat-form-field class="w-full mt-6">
    <mat-label>{{ 'LAST_NAME' | translate }}</mat-label>
    <input type="text" matInput [placeholder]="'EXAMPLE_LAST_NAME' | translate" formControlName="lastName" />
  </mat-form-field>

  <!-- CITY -->
  <mat-form-field class="w-full mt-6">
    <mat-label>{{ 'CITY' | translate }}</mat-label>
    <input type="text" matInput [placeholder]="'EXAMPLE_CITY' | translate" formControlName="city" />
  </mat-form-field>

  <!-- CV -->
  <swip-upload-file
    class="mt-6 block"
    [form]="form"
    beforeUploadCopy="UPLOAD_CV"
    fieldKey="cv"
    errorCopy="REQUIRED_CV"
  ></swip-upload-file>
</div>
