@let confirmPassword = form.controls['confirmPassword'];

<div [formGroup]="form">
  <swip-email-password [form]="form"></swip-email-password>

  <!-- CONFIRM PASSWORD -->
  <mat-form-field class="w-full mt-6 transition-all">
    <mat-label>{{ 'CONFIRM_PASSWORD' | translate }}</mat-label>
    <input
      matInput
      type="password"
      (paste)="disablePaste($event)"
      [errorStateMatcher]="matcher"
      formControlName="confirmPassword"
    />
    @if (confirmPassword?.hasError('required')) {
      <mat-error class="!text-white !flex items-center"> • {{ 'REQUIRED_CONFIRM_PASSWORD' | translate }} </mat-error>
    }
    @if (form.hasError('passwordMismatch')) {
      <mat-error class="!text-white !flex items-center"> • {{ 'NOT_MATCH_PASSWORD' | translate }} </mat-error>
    }
  </mat-form-field>
</div>
