<div [formGroup]="form">
  <!-- EMAIL -->
  <mat-form-field class="w-full mt-6">
    @let email = form.controls['email'];
    @let password = form.controls['password'];
    @let confirmPassword = form.controls['confirmPassword'];

    <mat-label>{{ 'EMAIL' | translate }}</mat-label>
    <input type="email" matInput [placeholder]="'EXAMPLE_EMAIL' | translate" formControlName="email" />
    @if (email.hasError('email') && !email.hasError('required')) {
      <mat-error class="!text-white !flex items-center">
        <span>• {{ 'VALID_EMAIL' | translate }}</span>
      </mat-error>
    }
    @if (email.hasError('required')) {
      <mat-error class="!text-white !flex items-center">
        <span>• {{ 'REQUIRED_EMAIL' | translate }}</span>
      </mat-error>
    }
  </mat-form-field>

  <!-- PASSWORD -->
  <mat-form-field class="w-full mt-6">
    <mat-label>{{ 'ENTER_PASSWORD' | translate }}</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
    <button
      class="mx-4"
      mat-icon-button
      matSuffix
      (click)="togglePasswordVisibility($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (password?.hasError('required')) {
      <mat-error class="!text-white !flex items-center"> • {{ 'REQUIRED_PASSWORD' | translate }} </mat-error>
    }
    @if (password?.hasError('minlength')) {
      <mat-error class="!text-white !flex items-center"> • {{ 'MIN_LENGTH_PASSWORD' | translate }} </mat-error>
    }
    @if (password?.hasError('pattern')) {
      <mat-error class="!text-white !flex w-full items-center"> • {{ 'PATTERN_PASSWORD' | translate }} </mat-error>
    }
  </mat-form-field>

  <!-- CONFIRM PASSWORD -->
  <mat-form-field class="w-full mt-6 transition-all">
    <mat-label>{{ 'CONFIRM_PASSWORD' | translate }}</mat-label>
    <input matInput type="password" (paste)="disablePaste($event)" formControlName="confirmPassword" />
    @if (confirmPassword?.hasError('required')) {
      <mat-error class="!text-white !flex items-center"> • {{ 'REQUIRED_CONFIRM_PASSWORD' | translate }} </mat-error>
    }
    @if (form.hasError('passwordMismatch')) {
      <mat-error class="!text-white !flex items-center"> • {{ 'NOT_MATCH_PASSWORD' | translate }} </mat-error>
    }
  </mat-form-field>
</div>
