<div [formGroup]="form">
  <!-- EMAIL -->
  <mat-form-field class="w-full mt-6">
    @let contactEmail = form.controls['contactEmail'];

    <mat-label>{{ 'EMAIL' | translate }}</mat-label>
    <input type="email" matInput [placeholder]="'EXAMPLE_EMAIL' | translate" formControlName="contactEmail" />
    @if (contactEmail.hasError('email') && !contactEmail.hasError('required')) {
      <mat-error class="!text-white !flex items-center">
        <span>• {{ 'VALID_EMAIL' | translate }}</span>
      </mat-error>
    }
    @if (contactEmail.hasError('required')) {
      <mat-error class="!text-white !flex items-center">
        <span>• {{ 'REQUIRED_EMAIL' | translate }}</span>
      </mat-error>
    }
  </mat-form-field>

  <div>
    @let tel = form.controls['tel'];
    <div class="flex justify-between">
      <!-- Select for Country Code -->
      <mat-form-field class="w-3/10 mt-6">
        <mat-select
          [(value)]="selectedCountryCode"
          formControlName="countryCode"
          (selectionChange)="onCountryCodeChange($event)"
        >
          <mat-option value="+48">(+48)</mat-option>
          <mat-option value="+1">(+1)</mat-option>
          <mat-option value="+44">(+44)</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- PHONE -->
      <mat-form-field class="w-2/3 mt-6">
        <mat-label>{{ 'PHONE_NUMBER' | translate }}</mat-label>
        <input type="text" matInput [placeholder]="placeholder" formControlName="tel" [mask]="phoneMask" />
        <mat-icon matSuffix>phone_iphone</mat-icon>
      </mat-form-field>
    </div>

    @if (tel.hasError('required') && tel.touched) {
      <mat-error class="!text-white !flex items-center body-3 my-1">
        <span>• {{ 'REQUIRED_PHONE' | translate }}</span>
      </mat-error>
    }
  </div>
</div>
