<footer class="p-6 bg-neutral-950 md:border-t-[10px] md:border-red-650 md:py-9 md:px-12 xl:px-32">
  <div class="flex justify-between md:border-red-650 md:border-b pb-0 md:pb-12">
    <a routerLink="/">
      <img src="images/logo.svg" alt="Logo Contrast" />
    </a>
    <div class="flex-col md:flex-row flex justify-between md:w-auto md:min-w-[75%] lg:min-w-[50%]">
      @for (footerCol of columns; track $index) {
        <div [ngClass]="{ 'mb-6 ml-6': isMobile && !$last }">
          <ng-container *ngTemplateOutlet="footerColumn; context: { footerCol: footerCol }"> </ng-container>
        </div>
      }
    </div>
  </div>

  @if (isPWA) {
    <div class="flex justify-end mt-6">
      <swip-language-buttons></swip-language-buttons>
    </div>
  }

  <div class="text-gray-150 body-3 md:text-center md:py-6 text-left pt-4 opacity-1 md:opacity-30">
    &copy; {{ year }} swip
  </div>
</footer>

<ng-template #footerColumn let-column="footerCol">
  @if (!isMobile) {
    <div class="text-red-650 h5">{{ column.headingCode | translate }}</div>
  }
  <ul class="text-right md:text-left md:mt-6">
    @for (link of column.data; track $index) {
      <a [routerLink]="link.path" [class.inline-block]="isMobile">
        <li
          [routerLink]="link.path"
          class="text-white hover:!text-gray-150 transition-all"
          [ngClass]="{
            'mb-3': !$last && !isMobile,
            'inline-block': link.isIcon,
            block: link.isIcon,
            'mx-3': link.isIcon && !$first && !$last,
            'ml-3': !link.isIcon && isMobile && !$first,
            'body-2': !isMobile,
            'body-3': isMobile,
          }"
        >
          @if (!link.isIcon) {
            {{ link.titleCode || link.data.titleCode | translate }}
          } @else {
            @if (isMobile || isPWA) {
              <swip-icon class="w-6 h-6 !text-2xl block" [isButton]="true" [icon]="getIcon(link)"></swip-icon>
            } @else {
              <swip-icon class="w-9 h-9 !text-3xl block" [isButton]="true" [icon]="getIcon(link)"></swip-icon>
            }
          }
        </li>
      </a>
    }
  </ul>
</ng-template>

<ng-template #footerLink let-link="footerLink" let-first="first" let-last="last"> </ng-template>
