@use "variables";
@use "@angular/material" as mat;
@use "sass:color";

$padding: 20px;
$button-height: 40px;
$font-family: "Afacad, serif";
$font-size: 20px;
$font-weight: 400;
$mobile-icon-size: 24px;

:root {
  @include mat.button-overrides(
    (
      // Flat button
      filled-container-color: variables.$red-650,
      filled-label-text-color: variables.$white,
      filled-container-shape: variables.$border-radius,
      filled-horizontal-padding: $padding,
      filled-container-height: $button-height,
      filled-label-text-font: $font-family,
      filled-label-text-size: $font-size,
      filled-label-text-weight: $font-weight,
      filled-ripple-color: rgba(variables.$red-650, 20%),
      filled-disabled-container-color:  rgba(variables.$red-650, 50%),
      filled-disabled-label-text-color: rgba(variables.$white, 50%),


      // Stroked button
      outlined-outline-color: variables.$white,
      outlined-label-text-color: variables.$white,
      outlined-container-shape: variables.$border-radius,
      outlined-horizontal-padding: $padding,
      outlined-container-height: $button-height,
      outlined-label-text-font: $font-family,
      outlined-label-text-size: $font-size,
      outlined-label-text-weight: $font-weight,
      outlined-ripple-color: rgba(variables.$red-650, 20%)
    )
  );

  // Icon button
  @include mat.icon-button-overrides(
    (
      icon-size: 36px
    )
  );

   // Fab button
  @include mat.fab-overrides(
    (
      extended-container-shape:  variables.$border-radius,
      extended-container-elevation-shadow: none,
      container-color: transparent,
      container-elevation-shadow: none,
      extended-label-text-font: $font-family,
      extended-label-text-size: $font-size,
      extended-container-height: $button-height
    )
  );
}

._contrast-flat {
  @include mat.button-overrides(
    (
      filled-container-color: variables.$white,
      filled-label-text-color: variables.$red-650,
      filled-container-shape: variables.$border-radius,
      filled-horizontal-padding: $padding,
      filled-container-height: $button-height,
      filled-label-text-font: $font-family,
      filled-label-text-size: $font-size,
      filled-label-text-weight: $font-weight,
      filled-ripple-color: rgba(variables.$white, 20%),
    )
  )
}



.mdc-icon-button {
  padding: 0 !important;
  .mat-icon svg {
    transition: opacity .3s;
    &:hover {
      opacity: 0.7;
    }
    & {
      @media only screen and (max-width: 768px) {
        width: $mobile-icon-size;
        height: $mobile-icon-size;
      }
    }
  }
}

.pwa .mdc-icon-button .mat-icon svg {
    width: $mobile-icon-size !important;
    height: $mobile-icon-size !important;

}

.mat-mdc-extended-fab {
  border: 1px solid variables.$white !important;
  color: variables.$white !important;
  padding: $padding !important;
  &:disabled {
    background: transparent !important;
    opacity: 0.5 !important
  }
  .mat-icon {
    order: 2;
    margin-left: 12px !important;
    margin-right: -8px !important;
  }
}